.open-form-button {
    position: absolute;
    left: 0.6em;
    bottom: 28em;
}

.resizer {
    height: 10px;
    width: 75px;
    background-color: rgb(68, 68, 68);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
    cursor: s-resize;
    z-index: 1;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    background: transparent;
    background-size: cover;
    height: 600px;
    max-height: 80%;
    min-height: 200px;
    width: 400px;
    padding: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 60, 136, 0.5);
    overflow: auto;
    border-right: 1px solid rgb(0, 60, 136);
    border-top: 1px solid rgb(0, 60, 136);
}

.species-counter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.species-counter-form select {
    display: block;
    margin: 1em 0px;
    width: 100%;
}

.choose-species {
    cursor: pointer;
    margin: auto;
}

.counter-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0px;
}

.counter-element button {
    width: 2rem;
    height: 2rem;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}

.counter-element button:nth-child(4) {
    color: red;
}

.counter-element .input-counter {
    display: grid;
    place-content: center;
    width: 200px;
    height: 2rem;
    text-align: center;
    margin: 10px, 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 1px;
}

.species-form-close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.species-form-close:hover {
    background-color: rgb(255, 78, 78);
    color: black;
    transition: 100ms linear;
}

.species-form-submit {
    margin: 20px 0px;
    align-self: center;
    display: none;
}

@media screen and (max-width: 500px) {
    .form-container {
        margin: none;
        padding: none;
        width: 100dvw;
    }
}